<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plus One Health</title>
    <link rel="stylesheet" href="/css/materialize.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <!-- Navbar -->
  <header>
    <nav>
      <div class="nav-wrapper red">
        <a href="/" class="brand-logo">+1 Health</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/galleries/new" class="waves-effect waves-light btn">New Gallery</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <!-- Main Content -->
    <div id="main">
      {{#galleries}}
      <p>{{name}}</p>
      {{/galleries}}
    </div>

    <!-- Script Files -->
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/materialize.min.js"></script>
  <script src="/scripts/main.js"></script>
  </body>
</html>
