<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Plus One Health</title>
  <link rel="stylesheet" href="/css/materialize.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
<!-- Navbar -->
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">+1 Health</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          {{#gallery}}
          <form action="/galleries/{{id}}?_method=delete" method="POST">
            <button class="btn red" type="submit">Delete Gallary</button>
          </form>
        </li>
        <li><a href="/galleries/{{id}}/edit" class="waves-effect waves-light btn">Edit Gallary</a></li>
        {{/gallery}}
      </ul>
    </div>
  </nav>
</header>

<body>
  <!-- Main Content -->
  <div id="main" class="container">

    <div class="row">
      <div class="col s12">
        {{#gallery}}
        <h1 class="center">{{name}} Gallery</h1>
        {{/gallery}}
      </div>
      </row>

      <div class="row ">
        <div class="col s12">

          {{#gallery.images}}
          <div class="card">
            <div class="card-image">
              <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/17362794_10203015872073858_2337100307222057384_n.jpg?oh=d77e4e90354bce247f3da9d6c6efcf8f&oe=595C4E01">
            </div>

            <div class="card-content">
              <p>{{caption}}</p>

              <form method="POST" action="/galleries/{{gallery_id}}/images/{{id}}?_method=put">
                <div class="row">
                  <div class="col s6">
                    <input type="text" placeholder="Caption" name="caption">
                  </div>

                  <div class="col s6">
                    <button class="btn" type="submit">Update Caption</button>
                  </div>
                </div>
              </form>

            </div>

            <div class="card-action">
              <a href="#">Delete Photo</a>
            </div>
          </div>
          {{/gallery.images}}

        </div>
      </div>

    </div>
  </div>
  <!-- Script Files -->
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/materialize.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>

</html>
