#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-wrapper {
  background-color: rgb(77,182,186);
}

nav .brand-logo {
  padding-left: 20px;
}

.btn {
  background: yellow;
  color: black;
}

.btn:hover {
  background-color: rgb(77,182,186);
  color: white;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.card.small {
 height: 400px;
 width: 500px;
}
